.App {
  flex: 1;
  padding: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  background-color: #333;
}

.App>h1 {
  align-self: center;
  color: #fff;

  margin-bottom: 64px;
}

.flows-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flow {
  width: 400px;
  height: 300px;

  text-align: center;

  background-color: #fff;
}

.flow:not(:first-child) {
  margin-left: 64px;
}